<div class="grid m-3">
  <div class="col-12 md:col-8">
    <full-calendar [options]="options" [events]="events"></full-calendar>
  </div>
</div>

<p-dialog [style]="{ width: '50rem' }" [breakpoints]="{ '1199px': '75vw', '575px': '90vw' }" [maximizable]="true" [(visible)]="popupVisible" header="Event Form" modal="true" (onHide)="onClose()" >
  @if(event) {
    <app-event-form [event]="event" (onSave)="onSave($event)"></app-event-form>
  }
</p-dialog>
<p-toast></p-toast>
<p-confirm-dialog></p-confirm-dialog>
